cmake-build-*/
Makefile
cmake_install.cmake
compile_commands.json
*.o
CMakeFiles
CMakeScripts
CTestTestfile.cmake
CMakeCache.txt
*.bit
*.bin
*.config
*.dump
*.so
*.dll
*.a
*.cbp
install_manifest.txt
tangbit
tangunpack
tangpack
*~
generated/

# Windows
tangbit.exe
tangunpack.exe
tangpack.exe

# Ninja
.ninja_*
build.ninja
rules.ninja
